:root {
  --orange: #e78a1b;
  --whitesmoke: #f5f5f5;
  --white: #ffffff;
  --blackish: #1d1d1d;
  --darktext: #5a646c;
  --blue: #2fa1bd;
  --bluegreen: #71cbd6;
  --bodybackground: #fafaf7;
  --boxbackground: #f6f6f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #root {
  height: 100vh;
  display: flex;
  flex-direction: column;
} */

body {
  font-family: 'Poppins', serif;
  /* font-family: 'Work Sans', sans-serif; */
  background-color: var(--bodybackground);
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  all: unset;
  cursor: pointer;
}

.header {
  background-color: var(--blue);
}

.header-content {
  width: 375px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid pink;
}

.header-content.login {
  justify-content: center;
}

.header-content {
  text-decoration: none;
}

.header-content span,
svg {
  color: var(--white);
  background-color: var(--blue);
}

.main {
  width: 375px;
  margin: 5rem auto;
  background-color: var(--bodybackground);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  text-align: center;
  margin-bottom: 1rem;
}

.footer p {
  padding: 10px;
}

.footer button {
  border: none;
  background: none;
  color: var(--orange);
  font-size: large;
  font-weight: 600;
  margin: 0 5px;
}

#mapid {
  height: 1000px;
}

.map-container {
  height: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media screen and (min-width: 768px) {

  .main,
  .header-content {
    width: 768px;
  }
}

@media screen and (min-width: 1024px) {

  .main,
  .header-content {
    width: 1024px;
  }
}